// Backgrounds & Surfaces
$e-gray-bg: #f8f9fa;
$e-primary-light: #e8ebff;
$e-white: #ffffff;
$e-black: #000000;

// Accents & Texts
$e-primary: #2b3fff;
$e-primary-dark: #0e47b5;
$e-text-muted-custom: #666666;
$e-gray-border: #cccccc;
$e-gray-light: #d1d1d1;
